{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path='juice.css') }}">
    {% block head %}
    {% endblock head %}
    <!-- Hotjar Tracking Code for url-to-pdf -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3245606,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script> (function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('3P1w24drjKl8mY5n'); </script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7KXRZ2W60L"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7KXRZ2W60L');
</script>
<body>
{% block header %}

<header class="pos-absolute" style="background-color: transparent">
    {{ macros::render_header() }}
</header>

<div class="hero">
    {% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <section class="text-center">
        <h1 class="heading-text" style="font-size: 50px">
            Easiest API to make PDFs of any webpage
        </h1>
        <h3 class="title-text">
            Try it now
            <div class="lds-ring" id="loader"><small style="font-size: 1rem;">Will take a few moments...</small><div></div><div></div><div></div><div></div></div>

        </h3>
        <div>
            <!-- Load icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


            <!-- The form -->
                <input type="text" value="https://www.google.com" id="urlinput" style="height: 2rem;
    width: 20rem;border-radius:5px">
                <button type="submit" id="post-btn" style="height: 2.5rem;
    width: 3rem;border-radius:5px"><i class="fa fa-arrow-right"></i></button>
            <script>
                const button = document.getElementById('post-btn');



                button.addEventListener('click', async _ => {
                    console.log(document.getElementById('urlinput').value)
                    // start here

                    const loader = document.getElementById('loader');

                    loader.style.display = 'block';

                    try {
                        var myHeaders = new Headers();
                        myHeaders.append("Content-Type", "application/json");

                        var raw = JSON.stringify({
                            "url": document.getElementById('urlinput').value
                        });

                        var requestOptions = {
                            method: 'POST',
                            headers: myHeaders,
                            body: raw,
                            redirect: 'follow'
                        };

                        fetch("https://pdfyml.herokuapp.com/render", requestOptions)
                            .then( res => res.blob() )
                            .then( blob => {
                                var file = window.URL.createObjectURL(blob);

                                const a = document.createElement('a');
                                a.style.display = 'none';
                                a.href = file;
                                // the filename you want
                                a.download = 'url-to-pdf.org.pdf';
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);

                                loader.style.display = 'none';

                            })
                            .catch(error => {
                                console.log('error', error)
                                loader.style.display = 'none';
                            });
                    } catch(err) {
                        console.error(`Error: ${err}`);
                    }
                    // stop here

                });
            </script>
        </div>
    </section>
    <img class="hero-image" style="width: 50%" src="{{ get_url(path="juice.svg") }}">

    <div class="explore-more text"
         onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        API Spec ⇩
    </div>
    <style>
        .hero section {
            padding: 0 5rem;
        }

        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }

            .hero-image {
                display: none
            }
        }
    </style>
    {% endblock hero %}
</div>

{% endblock header %}

<main>
    {% block toc %}
    {% if section.toc %}
    {% set toc = section.toc %}
    {% elif page.toc %}
    {% set toc = page.toc %}
    {% endif %}
    {% if toc %}
    <div class="toc">
        <div class="toc-sticky">
            {% for h in toc %}
            <div class="toc-item">
                <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
            </div>
            {% if h.children %}
            {% for h2 in h.children %}
            <div class="toc-item-child">
                <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock toc %}

    <div class="content text">
        {% block content %}
        {{ section.content | safe }}
        {% endblock content %}
    </div>

    {% block sidebar %}
    {% endblock sidebar %}
</main>

{% block footer %}
<footer>
    <!-- Buglog -->
    <script>
        (function(d, s) {
            s = d.createElement('script');
            s.src = 'https://api.buglog.io/website/NERMGGJR4J/code';
            s.async = 1;
            d.head.appendChild(s);
        })(document);
    </script>
    <!-- End Buglog -->
    <script type="text/javascript">
        _linkedin_partner_id = "4896417";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
        if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
            window.lintrk.q=[]}
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4896417&fmt=gif" />
    </noscript>

</footer>
{% endblock footer %}
</body>
<script>
    const scrollHandler = entries => {
        // Find the first entry which intersecting and ratio > 0.9 to highlight.
        let entry = entries.find(entry => {
            return entry.isIntersecting && entry.intersectionRatio > 0.9;
        });
        if (!entry) return;

        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });

        // let url = new URL(`#${entry.target.id}`);
        let link = document.querySelector(`.toc a[href$="${decodeURIComponent(`#${entry.target.id}`)}"]`)
        if (link) {
            link.classList.add("active");
            link.scrollIntoView({ behavior: "auto", block: "nearest" });
        }
    };
    // Set -100px root margin to improve highlight experience.
    const observer = new IntersectionObserver(scrollHandler, { threshold: 1 });
    let items = document.querySelectorAll('h1,h2,h3,h4,h5,h6');
    items.forEach(item => observer.observe(item));
</script>

</html>
