{% import "_macros.html" as macros %}
{% extends "index.html" %}




{% block title %}{{ page.title }} | {{ super() }} {% endblock title %}

{% block header %}
<header class="box-shadow">
    {{ macros::render_header() }}
</header>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7KXRZ2W60L"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7KXRZ2W60L');
</script>
{% endblock header %}

{% block content %}
<div class="heading-text">{{ page.description }}</div>
{{ page.content | safe }}
{% endblock content %}
